* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
:root {
  --color-blop1: #c4eabe;
  --color-blop2: #d4d8e7;
  --color-title: #293264;
  --color-button: #4d5b9e;
  --color-button-hover: #1c2655;
  --color-text: #293264;
  --answer-click: #d4d8e7;
  --answer-correct: #94d7a2;
  --answer-wrong: #f7d9db;
}
html {
  background-color: #f5f7fb;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}
.start-game {
  height: 100vh;
}
.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 10;
}
.title-quiz {
  color: var(--color-title);
  font-size: 40px;
}
.parag-quiz {
  text-align: center;
  font-size: 20px;
}
.start-button {
  padding: 5% 15%;
  color: white;
  font-size: 18px;
  border-style: none;
  border-radius: 40px;
  background-color: var(--color-button);
  text-decoration: none;
  transition: all 0.5s ease;
}
.error-button {
  padding: 5% 15%;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  background-color: var(--color-button);
}

.error-button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--color-button-hover);
}
.start-button:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: var(--color-button-hover);
}

/*-----------------------------SVG STYLING----------------------------------*/

.gifBlop1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.gifBlop2 {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.blop1 {
  position: absolute;
  right: 0;
  top: 0;
}
.blop2 {
  position: absolute;
  left: 0;
  top: 11%;
}
.blop3 {
  position: absolute;
  left: 0;
  top: 0;
}
.blop4 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.spike-image {
  position: absolute;
  height: 180px;
  transform: rotate(20deg);
  bottom: 10%;
  right: 12%;
}
.volleyball-icon {
  position: absolute;
  height: 100px;
  bottom: 10%;
  left: 11%;
}
@media screen and (max-width: 550px) {
  .gifBlop1 {
    height: 32%;
  }
  .gifBlop2 {
    height: 32%;
  }
  .blop1 {
    height: 10%;
  }
  .blop2 {
    height: 25%;
  }
  .blop3 {
    height: 20%;
  }
  .blop4 {
    height: 10%;
  }
  .spike-image {
    right: 5%;
    bottom: 3%;
    height: 20%;
  }
  .volleyball-icon {
    bottom: 15%;
    height: 8%;
  }
}

/*-----------------------------Game page----------------------------------*/

.loadingGif {
  margin: 10% 0;
  height: 200px;
}
.questions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 5% 10%;
  gap: 1.2em;
  z-index: 10;
}
.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 10;
  margin-bottom: 30px;
}
.result > p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: var(--color-title);
}
.checkAnswer {
  font-weight: bold;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  border-style: none;
  user-select: none;
  background-color: var(--color-button);
  padding: 0.8em 1em;
  transition: all 0.2s ease;
}
.checkAnswer:hover {
  background-color: var(--color-button-hover);
}

/*-----------------------------Question Component----------------------------------*/

.question {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  z-index: 10;
}
.question > h1 {
  font-size: 17px;
  color: var(--color-title);
}
.answers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.answers-btn {
  font-size: 15px;
  outline: none;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 40px;
  border: 2px solid #4d5b9e;
  color: var(--color-text);
  cursor: pointer;
  text-align: center;
  user-select: none;
  transition: all 0.5s ease;
}
.answers-btn:hover {
  border: 2px solid #d4d8e7;
  background-color: #d4d8e7;
}
.answers > .active {
  border: 2px solid #d4d8e7;
  background-color: #d4d8e7;
}
.blue {
  border: 2px solid #d4d8e7;
  background-color: #d4d8e7;
}
.faded {
  opacity: 0.5;
}
.green {
  border: 2px solid #94d7a2;
  background-color: #94d7a2;
  opacity: 1;
}
.red {
  opacity: 0.5;
}

.playAgain {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .result {
    gap: 0.5rem;
    font-size: 10px;
    margin: 0 10%;
  }
  .question {
    font-size: 15px;
  }
  .question > h1 {
    font-size: 15px;
  }
  .answers {
    gap: 1em;
  }
  .answers-btn {
    font-size: 14px;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .result {
    gap: 7px;
  }
  .result > p {
    font-size: 15px;
  }
  .checkAnswer {
    font-size: 11px;
  }
  .question {
    font-size: 10px;
  }
  .answers {
    gap: 0.8em;
  }
  .answers-btn {
    padding: 0.3rem;
  }
}
